# Ignore environment variables
.env

# Ignore cache files
__pycache__/
*.py[cod]

# Ignore virtual environment directories
.venv/
env/
venv/

# Ignore data and logs
*.log
*.csv
*.dat
*.sqlite

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore VS Code settings
.vscode/

# Ignore Hugging Face cache
.cache/